body {
  font: caption;
}

.todo-item {
  background: none;
  padding: 0.5rem;
  margin: 0;
  cursor: pointer;
  font-size: 1rem;
}

.todo-item:nth-child(even) {
  background: #f4f4ff;
}

.todo-item:hover {
  background: #d8d8d8;
}

h1 {
  font-family: Arial;
  text-align: center;
}

p {
  font-family: Arial;
  margin: 0px;
}

.property {
  padding: 0px 10px;
}

.property__path {
  min-width: 245px;
}

.list_container {
  display: grid;
  grid-template-rows: 80px 50px;
  margin: 50px;
}

.list_entry,
.example_entry {
  display: grid;
  grid-template-columns: 1.4fr 0.8fr 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
  padding: 0px 15px;
  text-align: left;
}

.example_entry {
  background-color: lightpink;
}

.list_entry {
  background-color: lightblue;
  border-style: solid;
  border-width: 1px;
}

.head__table,
.body__table .item__table {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  border-bottom: solid 1px #a6a6a6;
}

.head__table > div {
  /* background: red; */
  padding-right: 10px;
  border-right: solid 1px #a6a6a6;
  width: 40%;
  padding-left: 10px;
}

.body__table .item__table > div {
  /* background: red; */
  padding-right: 10px;

  width: 40%;
  padding-left: 10px;
}

.table {
  border: solid 1px #a6a6a6;
}

.head__table > div {
  width: 40%;
  padding: 10px;
  font-weight: 600;
}

.local,
.cloud {
  width: 35% !important;
}

.item__table > div {
  padding: 6px;
}

.title_cloudbox {
  display: flex;
  flex-direction: column;
}

.title_cloudbox {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
}

.container {
  padding: 20px;
}

.btns {
  padding-top: 10px;
  padding-bottom: 10px;
}

.game__list.body__table {
  overflow: scroll;
  max-height: 330px;
}

.column.col-4 {
  display: none;
}
.col-8 {
  width: 100%;
}
